
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.g-p-1, .g-t-1, .g-m-1, .g-d-1, .g-p-2, .g-t-2, .g-m-2, .g-d-2, .g-p-3, .g-t-3, .g-m-3, .g-d-3, .g-p-4, .g-t-4, .g-m-4, .g-d-4, .g-p-5, .g-t-5, .g-m-5, .g-d-5, .g-p-6, .g-t-6, .g-m-6, .g-d-6, .g-p-7, .g-t-7, .g-m-7, .g-d-7, .g-p-8, .g-t-8, .g-m-8, .g-d-8, .g-p-9, .g-t-9, .g-m-9, .g-d-9, .g-p-10, .g-t-10, .g-m-10, .g-d-10, .g-p-11, .g-t-11, .g-m-11, .g-d-11, .g-p-12, .g-t-12, .g-m-12, .g-d-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.g-p-1, .g-p-2, .g-p-3, .g-p-4, .g-p-5, .g-p-6, .g-p-7, .g-p-8, .g-p-9, .g-p-10, .g-p-11, .g-p-12 {
  float: left;
}
.g-p-12 {
  width: 100%;
}
.g-p-11 {
  width: 91.66666667%;
}
.g-p-10 {
  width: 83.33333333%;
}
.g-p-9 {
  width: 75%;
}
.g-p-8 {
  width: 66.66666667%;
}
.g-p-7 {
  width: 58.33333333%;
}
.g-p-6 {
  width: 50%;
}
.g-p-5 {
  width: 41.66666667%;
}
.g-p-4 {
  width: 33.33333333%;
}
.g-p-3 {
  width: 25%;
}
.g-p-2 {
  width: 16.66666667%;
}
.g-p-1 {
  width: 8.33333333%;
}
.g-p-pull-12 {
  right: 100%;
}
.g-p-pull-11 {
  right: 91.66666667%;
}
.g-p-pull-10 {
  right: 83.33333333%;
}
.g-p-pull-9 {
  right: 75%;
}
.g-p-pull-8 {
  right: 66.66666667%;
}
.g-p-pull-7 {
  right: 58.33333333%;
}
.g-p-pull-6 {
  right: 50%;
}
.g-p-pull-5 {
  right: 41.66666667%;
}
.g-p-pull-4 {
  right: 33.33333333%;
}
.g-p-pull-3 {
  right: 25%;
}
.g-p-pull-2 {
  right: 16.66666667%;
}
.g-p-pull-1 {
  right: 8.33333333%;
}
.g-p-pull-0 {
  right: auto;
}
.g-p-push-12 {
  left: 100%;
}
.g-p-push-11 {
  left: 91.66666667%;
}
.g-p-push-10 {
  left: 83.33333333%;
}
.g-p-push-9 {
  left: 75%;
}
.g-p-push-8 {
  left: 66.66666667%;
}
.g-p-push-7 {
  left: 58.33333333%;
}
.g-p-push-6 {
  left: 50%;
}
.g-p-push-5 {
  left: 41.66666667%;
}
.g-p-push-4 {
  left: 33.33333333%;
}
.g-p-push-3 {
  left: 25%;
}
.g-p-push-2 {
  left: 16.66666667%;
}
.g-p-push-1 {
  left: 8.33333333%;
}
.g-p-push-0 {
  left: auto;
}
.g-p-offset-12 {
  margin-left: 100%;
}
.g-p-offset-11 {
  margin-left: 91.66666667%;
}
.g-p-offset-10 {
  margin-left: 83.33333333%;
}
.g-p-offset-9 {
  margin-left: 75%;
}
.g-p-offset-8 {
  margin-left: 66.66666667%;
}
.g-p-offset-7 {
  margin-left: 58.33333333%;
}
.g-p-offset-6 {
  margin-left: 50%;
}
.g-p-offset-5 {
  margin-left: 41.66666667%;
}
.g-p-offset-4 {
  margin-left: 33.33333333%;
}
.g-p-offset-3 {
  margin-left: 25%;
}
.g-p-offset-2 {
  margin-left: 16.66666667%;
}
.g-p-offset-1 {
  margin-left: 8.33333333%;
}
.g-p-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .g-t-1, .g-t-2, .g-t-3, .g-t-4, .g-t-5, .g-t-6, .g-t-7, .g-t-8, .g-t-9, .g-t-10, .g-t-11, .g-t-12 {
    float: left;
  }
  .g-t-12 {
    width: 100%;
  }
  .g-t-11 {
    width: 91.66666667%;
  }
  .g-t-10 {
    width: 83.33333333%;
  }
  .g-t-9 {
    width: 75%;
  }
  .g-t-8 {
    width: 66.66666667%;
  }
  .g-t-7 {
    width: 58.33333333%;
  }
  .g-t-6 {
    width: 50%;
  }
  .g-t-5 {
    width: 41.66666667%;
  }
  .g-t-4 {
    width: 33.33333333%;
  }
  .g-t-3 {
    width: 25%;
  }
  .g-t-2 {
    width: 16.66666667%;
  }
  .g-t-1 {
    width: 8.33333333%;
  }
  .g-t-pull-12 {
    right: 100%;
  }
  .g-t-pull-11 {
    right: 91.66666667%;
  }
  .g-t-pull-10 {
    right: 83.33333333%;
  }
  .g-t-pull-9 {
    right: 75%;
  }
  .g-t-pull-8 {
    right: 66.66666667%;
  }
  .g-t-pull-7 {
    right: 58.33333333%;
  }
  .g-t-pull-6 {
    right: 50%;
  }
  .g-t-pull-5 {
    right: 41.66666667%;
  }
  .g-t-pull-4 {
    right: 33.33333333%;
  }
  .g-t-pull-3 {
    right: 25%;
  }
  .g-t-pull-2 {
    right: 16.66666667%;
  }
  .g-t-pull-1 {
    right: 8.33333333%;
  }
  .g-t-pull-0 {
    right: auto;
  }
  .g-t-push-12 {
    left: 100%;
  }
  .g-t-push-11 {
    left: 91.66666667%;
  }
  .g-t-push-10 {
    left: 83.33333333%;
  }
  .g-t-push-9 {
    left: 75%;
  }
  .g-t-push-8 {
    left: 66.66666667%;
  }
  .g-t-push-7 {
    left: 58.33333333%;
  }
  .g-t-push-6 {
    left: 50%;
  }
  .g-t-push-5 {
    left: 41.66666667%;
  }
  .g-t-push-4 {
    left: 33.33333333%;
  }
  .g-t-push-3 {
    left: 25%;
  }
  .g-t-push-2 {
    left: 16.66666667%;
  }
  .g-t-push-1 {
    left: 8.33333333%;
  }
  .g-t-push-0 {
    left: auto;
  }
  .g-t-offset-12 {
    margin-left: 100%;
  }
  .g-t-offset-11 {
    margin-left: 91.66666667%;
  }
  .g-t-offset-10 {
    margin-left: 83.33333333%;
  }
  .g-t-offset-9 {
    margin-left: 75%;
  }
  .g-t-offset-8 {
    margin-left: 66.66666667%;
  }
  .g-t-offset-7 {
    margin-left: 58.33333333%;
  }
  .g-t-offset-6 {
    margin-left: 50%;
  }
  .g-t-offset-5 {
    margin-left: 41.66666667%;
  }
  .g-t-offset-4 {
    margin-left: 33.33333333%;
  }
  .g-t-offset-3 {
    margin-left: 25%;
  }
  .g-t-offset-2 {
    margin-left: 16.66666667%;
  }
  .g-t-offset-1 {
    margin-left: 8.33333333%;
  }
  .g-t-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .g-m-1, .g-m-2, .g-m-3, .g-m-4, .g-m-5, .g-m-6, .g-m-7, .g-m-8, .g-m-9, .g-m-10, .g-m-11, .g-m-12 {
    float: left;
  }
  .g-m-12 {
    width: 100%;
  }
  .g-m-11 {
    width: 91.66666667%;
  }
  .g-m-10 {
    width: 83.33333333%;
  }
  .g-m-9 {
    width: 75%;
  }
  .g-m-8 {
    width: 66.66666667%;
  }
  .g-m-7 {
    width: 58.33333333%;
  }
  .g-m-6 {
    width: 50%;
  }
  .g-m-5 {
    width: 41.66666667%;
  }
  .g-m-4 {
    width: 33.33333333%;
  }
  .g-m-3 {
    width: 25%;
  }
  .g-m-2 {
    width: 16.66666667%;
  }
  .g-m-1 {
    width: 8.33333333%;
  }
  .g-m-pull-12 {
    right: 100%;
  }
  .g-m-pull-11 {
    right: 91.66666667%;
  }
  .g-m-pull-10 {
    right: 83.33333333%;
  }
  .g-m-pull-9 {
    right: 75%;
  }
  .g-m-pull-8 {
    right: 66.66666667%;
  }
  .g-m-pull-7 {
    right: 58.33333333%;
  }
  .g-m-pull-6 {
    right: 50%;
  }
  .g-m-pull-5 {
    right: 41.66666667%;
  }
  .g-m-pull-4 {
    right: 33.33333333%;
  }
  .g-m-pull-3 {
    right: 25%;
  }
  .g-m-pull-2 {
    right: 16.66666667%;
  }
  .g-m-pull-1 {
    right: 8.33333333%;
  }
  .g-m-pull-0 {
    right: auto;
  }
  .g-m-push-12 {
    left: 100%;
  }
  .g-m-push-11 {
    left: 91.66666667%;
  }
  .g-m-push-10 {
    left: 83.33333333%;
  }
  .g-m-push-9 {
    left: 75%;
  }
  .g-m-push-8 {
    left: 66.66666667%;
  }
  .g-m-push-7 {
    left: 58.33333333%;
  }
  .g-m-push-6 {
    left: 50%;
  }
  .g-m-push-5 {
    left: 41.66666667%;
  }
  .g-m-push-4 {
    left: 33.33333333%;
  }
  .g-m-push-3 {
    left: 25%;
  }
  .g-m-push-2 {
    left: 16.66666667%;
  }
  .g-m-push-1 {
    left: 8.33333333%;
  }
  .g-m-push-0 {
    left: auto;
  }
  .g-m-offset-12 {
    margin-left: 100%;
  }
  .g-m-offset-11 {
    margin-left: 91.66666667%;
  }
  .g-m-offset-10 {
    margin-left: 83.33333333%;
  }
  .g-m-offset-9 {
    margin-left: 75%;
  }
  .g-m-offset-8 {
    margin-left: 66.66666667%;
  }
  .g-m-offset-7 {
    margin-left: 58.33333333%;
  }
  .g-m-offset-6 {
    margin-left: 50%;
  }
  .g-m-offset-5 {
    margin-left: 41.66666667%;
  }
  .g-m-offset-4 {
    margin-left: 33.33333333%;
  }
  .g-m-offset-3 {
    margin-left: 25%;
  }
  .g-m-offset-2 {
    margin-left: 16.66666667%;
  }
  .g-m-offset-1 {
    margin-left: 8.33333333%;
  }
  .g-m-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .g-d-1, .g-d-2, .g-d-3, .g-d-4, .g-d-5, .g-d-6, .g-d-7, .g-d-8, .g-d-9, .g-d-10, .g-d-11, .g-d-12 {
    float: left;
  }
  .g-d-12 {
    width: 100%;
  }
  .g-d-11 {
    width: 91.66666667%;
  }
  .g-d-10 {
    width: 83.33333333%;
  }
  .g-d-9 {
    width: 75%;
  }
  .g-d-8 {
    width: 66.66666667%;
  }
  .g-d-7 {
    width: 58.33333333%;
  }
  .g-d-6 {
    width: 50%;
  }
  .g-d-5 {
    width: 41.66666667%;
  }
  .g-d-4 {
    width: 33.33333333%;
  }
  .g-d-3 {
    width: 25%;
  }
  .g-d-2 {
    width: 16.66666667%;
  }
  .g-d-1 {
    width: 8.33333333%;
  }
  .g-d-pull-12 {
    right: 100%;
  }
  .g-d-pull-11 {
    right: 91.66666667%;
  }
  .g-d-pull-10 {
    right: 83.33333333%;
  }
  .g-d-pull-9 {
    right: 75%;
  }
  .g-d-pull-8 {
    right: 66.66666667%;
  }
  .g-d-pull-7 {
    right: 58.33333333%;
  }
  .g-d-pull-6 {
    right: 50%;
  }
  .g-d-pull-5 {
    right: 41.66666667%;
  }
  .g-d-pull-4 {
    right: 33.33333333%;
  }
  .g-d-pull-3 {
    right: 25%;
  }
  .g-d-pull-2 {
    right: 16.66666667%;
  }
  .g-d-pull-1 {
    right: 8.33333333%;
  }
  .g-d-pull-0 {
    right: auto;
  }
  .g-d-push-12 {
    left: 100%;
  }
  .g-d-push-11 {
    left: 91.66666667%;
  }
  .g-d-push-10 {
    left: 83.33333333%;
  }
  .g-d-push-9 {
    left: 75%;
  }
  .g-d-push-8 {
    left: 66.66666667%;
  }
  .g-d-push-7 {
    left: 58.33333333%;
  }
  .g-d-push-6 {
    left: 50%;
  }
  .g-d-push-5 {
    left: 41.66666667%;
  }
  .g-d-push-4 {
    left: 33.33333333%;
  }
  .g-d-push-3 {
    left: 25%;
  }
  .g-d-push-2 {
    left: 16.66666667%;
  }
  .g-d-push-1 {
    left: 8.33333333%;
  }
  .g-d-push-0 {
    left: auto;
  }
  .g-d-offset-12 {
    margin-left: 100%;
  }
  .g-d-offset-11 {
    margin-left: 91.66666667%;
  }
  .g-d-offset-10 {
    margin-left: 83.33333333%;
  }
  .g-d-offset-9 {
    margin-left: 75%;
  }
  .g-d-offset-8 {
    margin-left: 66.66666667%;
  }
  .g-d-offset-7 {
    margin-left: 58.33333333%;
  }
  .g-d-offset-6 {
    margin-left: 50%;
  }
  .g-d-offset-5 {
    margin-left: 41.66666667%;
  }
  .g-d-offset-4 {
    margin-left: 33.33333333%;
  }
  .g-d-offset-3 {
    margin-left: 25%;
  }
  .g-d-offset-2 {
    margin-left: 16.66666667%;
  }
  .g-d-offset-1 {
    margin-left: 8.33333333%;
  }
  .g-d-offset-0 {
    margin-left: 0%;
  }
}
